* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    position: sticky;
    top: 0;
    z-index: -1;
    height: 70vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

nav {
    background-color: #fff;
    height: 80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: stretch;
    transition: all .3s ease;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 5px 2px #333;
    height: 120px;
}

.content {
    transition: all .3s ease;
}

.sticky + .content {
    padding-top: 170px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.brand{
    flex: 3;
    position: relative;
    font: bold 32px/2em "Arial Black";
    height: 60px;
}

#brandIcon {
    display: inline-block;
    background-size: cover;
}

#brandIcon img {
    width: 80px;
    display: inline-block;
    transition: all 1s ease;
    margin: 10px auto;
}
.sticky #brandIcon img {
    width: 100px;
}


.brand h2 {
    position: absolute;
    font-size: 1.2em;
    top: 20px;
    left: 90px;
    display: inline-block;
    transition: all .6s ease;
    color: #fff;
    text-shadow: 0 0 1px #777, 0 0 2px #167695;
}

.sticky .brand h2 {
    font-size: .6em;
    left:0;
    display: block;
    top: 80px;
    bottom: 0;
    color: #167695;
}

.social {
    position: fixed;
    display: flex;
    left: calc(50% - 100px);
    top: -70px;
    width: 200px;
    height: 40px;
    transition: all .6s ease;
    cursor: pointer;
}

.social i {
    display: block;
    width: 40px;
    height: 50px;
    text-align: center;
    line-height:50px;
    color: #167695;
    text-shadow: 1px 1px 5px #777;
}

.social i:hover {
    color: #fff;
}

.social.popout {
    top: 10px;
}

#menu {
    flex: 7;
    transition: all .6s ease;
}
.sticky #menu {
	margin-top: 20px;
}

#menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;

}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    padding: 3px 15px;
    margin: 2px;
    color: inherit;
    display: block;
    font: bold 16px/1.5em "Arial Black";
    text-decoration: none;
}

#menu ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 8px;
    background-color: #167695;
    transition: all .6s ease;
}
#menu ul li a:hover::after {
    width: calc(100% + 32px);
    margin-left: -16px;
}

.content {
    padding: 16px 0;
    background-color: #fff;
}

section {
    height: 700px;
}

/*Slider Style*/
.carouselExampleDark {
    position: relative;
    width: 100%;
    height: 100%;
}
.carousel-indicators {
    position: absolute;
    bottom: 10vh;
}

.carousel-item img {
    height: 70vh;
}
.carousel-caption {
    border: 2px solid;
    display: block;
    padding: 100px 20px;
    width: 80%;
    height: 80%;
    margin: auto !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-caption h5 {
    position: absolute;
    top: 20%;
    font-size: 3em;
}
.carousel-caption p {

}