* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: inherit;
}
.header {
    position: sticky;
    top: 0;
    z-index: -1;
    height: 70vh;
    background-repeat: no-repeat;
}

nav {
    background-color: #fff;
    height: 150px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: stretch;
    transition: all .3s ease;
    z-index: 9999;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 5px 2px #333;
    height: 120px;
}

.cont {
    width: 86%;
    margin: 0 auto;
}

.page-content {
    background-color: #fff;
    transition: all .3s ease;
    background-image: url("assets/bg/water-bg.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page-content .cont {
    background-color: #fff;
}

.sticky + .page-content .cont {
    padding-top: 150px;
}

.brand{
    flex: 3;
    position: relative;
    font: bold 32px/2em "Arial Black";
    height: 60px;
}

#brandIcon {
    display: inline-block;
    background-size: cover;
}

#brandIcon img {
    width: 80px;
    display: inline-block;
    transition: all 1s ease;
    margin: 10px auto;
}

.sticky #brandIcon img {
    width: 100px;
}

.brand h2 {
    position: absolute;
    font-size: 1.2em;
    top: 20px;
    left: 90px;
    display: inline-block;
    transition: all .6s ease;
}

.sticky .brand h2 {
    font-size: .6em;
    left:0;
    display: block;
    top: 80px;
    bottom: 0;
    color: #167695;
}

.social {
    position: fixed;
    display: flex;
    left: calc(50% - 100px);
    top: -70px;
    width: 200px;
    height: 40px;
    transition: all .6s ease;
    cursor: pointer;
    z-index: 99999;
}

.social i {
    display: block;
    width: 40px;
    height: 50px;
    text-align: center;
    line-height:50px;
    color: #167695;
    text-shadow: 1px 1px 5px #777;
}

.social i:hover {
    color: #fff;
}

.social.popout {
    top: 10px;
}

#menu {
    flex: 7;
    transition: all .6s ease;
}

.sticky #menu {
	margin-top: 20px;
}

#menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;

}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    padding: 3px 15px;
    margin: 2px;
    color: #167695;
    display: block;
    font: bold 16px/1.5em "Arial Black";
    text-decoration: none;
}

#menu ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 8px;
    background-color: #167695;
    transition: all .6s ease;
}

#menu ul li a:hover::after {
    width: calc(100% + 32px);
    margin-left: -16px;
}

.page-content section {
    height: 800px;
    padding: 16px;
}

#company {
    background-color: #333333;
}
#company h2 {
    color: #fff;
    text-shadow: 2px 2px 0 #167695, 3px 3px 0 #fff;
    letter-spacing: 8px;
}

#company p {
    color: #fff;
    text-shadow: 1px 1px 0 #167695;
}



.textXL {
    font-size: 3em;
    font-weight: bolder;
}
.textLg {
    font-size: 2em;
    font-weight: 300;
}

.gallery {
    position: relative;
    height: 512px;
    width: 90%;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 5px 2px #333 inset;
    overflow: hidden;
}

.gallery .indicators span {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 90%;
    font: bold 50px/1em Arial Black;
    z-index: 1;
    text-align: center;
    background-color: rgba(54, 71, 74, 0.3);
    color: #167695;
}
.gallery span.left  {
    content: "<";
    left: 50%;
    transform: translateX(-120%);
}
.gallery span.left:hover, .gallery span.right:hover {
    cursor: pointer;
    background-color: rgba(54, 71, 74, 0.9);
}
.gallery span.right  {
    content: ">";
    right: 50%;
    transform: translateX(120%);
}

.galleryContainer {
    width: 5692px;
    padding: 16px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    transition: left .5s ease-in-out .1s
}

.gallery .gItem {
    position: relative;
    width: 650px;
    height: 475px;
    border: 10px solid #101415;
    overflow: hidden;
}
.gallery .gItem .desc {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    transition: all .7s ease-in-out .1s;
    background-color: rgba(38, 76, 90, 0.45);
}

.gallery .gItem:hover .desc {
    left: 0;
}
.gallery .gItem .desc .gItemTitle {
    display: block;
    width: 100%;
    position: absolute;
    top: -100px;
    transition: all .3s linear .5s;
    text-align: center;
    color: white;
    font-weight: bold;
}
.gallery .gItem:hover .desc .gItemTitle {
    top: 20px;
}


.gallery .gItem .desc p {
    display: block;
    width: 80%;
    position: absolute;
    top: 120px;
    left: -100%;
    transition: all .3s linear .8s;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}
.gallery .gItem:hover .desc p {
    left: 10%;
}

.gallery .gItem .desc button {
    display: block;
    width: 30%;
    position: absolute;
    bottom: -120px;
    right: 30px;
    transition: all .3s linear .8s;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #167695;
    outline: 0;
    border: 0;
    padding: 8px 16px ;
}
.gallery .gItem:hover .desc button {
    bottom: 10%;
}
.gallery button:hover {
    background-color: #167695;
    color: #fff
}
.gallery .gItem:hover .desc button a {
    display: block;
    text-decoration: none;
    color: inherit
}

.gallery .gItem + .gItem {
    margin-left: 10px;
}








    /*Slider Style*/
    /* Slideshow container */
.slideshow-container {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin: auto;

}

.textShiny {
    color: #fff;
    text-shadow: 0 0 1px #777, 0 0 2px #167695;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
    background-color: rgba(22, 118, 149, 0.5);
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption {
    color: #f2f2f2;
    padding: 16px 32px;
    position: absolute;
    bottom: 100px;
    width: 86%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-shadow: 2px 2px 0 #167695, 4px 4px 3px #333;
    font: bolder 28px/1.2 "Arial Black";
    background-color: rgba(18,149,220,.5);
    box-shadow: 0 0 15px 5px #167695 inset;
}

/* Number text (1/3 etc) */
.title {
    color: #167695;
    font: bolder 50px/1.2 "Arial Black";
    text-shadow: 1px 1px 0 #fff, 4px 4px 10px #333;
    padding: 8px 12px;
    position: absolute;
    top: 100px;
    left: 150px
}

/* The dots/bullets/indicators */
.dots {
    position: relative;
    bottom: 40px;
    background-color: #aaa;
    padding: 0;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 50px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
    background-color: #167695;
    cursor: pointer;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4.8s;
    animation-name: fade;
    animation-duration: 4.8s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}