* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.settingContainer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row;
}

#heads {
    flex: 1;
    max-width: 280px;
    min-width: 230px;
    display: inline-block;
    height: 100vh;
    background-color: #4e4e4e;
}
ul {
    padding: 0;
    margin: 0;
}

#contents ul li {
    display: none;
    overflow: hidden;
}
#contents ul li:first-of-type {
    display: block;

}

#contents ul li h1 {
    padding: 8px 30px;
}

#heads ul li + li {
    margin-top: 3px;
}
#heads ul li {
    cursor: pointer;
    list-style-type: none;
    font: bold 18px/1.5 Arial;
    color: white;
    padding: 8px 16px;
    background-color: #8d938e;
}
#contents {
    flex: 4;
    display: inline-block;
    height: 100%;

}
#contents > ul form {
    padding: 8px 16px
}


